.nav-bar {
    background: #fff;
}

.main-container {
    height: 100vh;
}

.chat-container {
    padding: 20px 20px 0px 20px;
}

.messages-container {
    background: #fff;
    height: 100%;
    padding: 20px;
}

.type-container {
    padding: 20px;
}

.my-message {
    background-color: cyan;
}

.not-my-message {
    background-color: yellow;
}
